# Eclipse
.settings/
.project
.buildpath

# Webstorm
.idea/

# Dependencies
node_modules/
package-lock.json

# Personal
TODO
npm-debug.log*
sc-karma*.log

# Build
build/doc/
build/coverage/

dist/mark.js
dist/jquery.mark.es6.js
dist/jquery.mark.es6.min.js
dist/jquery.mark.js
dist/jquery.mark.min.js
dist/mark.es6.js
dist/mark.es6.min.js
dist/mark.js
dist/mark.min.js
