# Eclipse
.settings/
.project
.buildpath

# Webstorm
.idea/

# Dependencies
node_modules/
vendor/

# Personal
TODO
npm-debug.log*

# Build (do not ignore templates)
build/*.js
build/doc/
build/coverage/
