{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016–2017, Julian Motz
 * All Rights Reserved
 *******************************************************/
--}}

{{> header}}

<div class="container">
    <div class="row">
        <main class="col-xs-12">
            {{> back-to-home}}
            {{{contents}}}
        </main>
    </div>
</div>

{{> footer}}
