{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016, Julian Motz. All Rights Reserved.
 *******************************************************/
--}}

{{> header}}

<div class="container">
    <div class="row">
        <main class="col-xs-12">
            {{{contents}}}
        </main>
    </div>
</div>

{{> footer}}
