{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016, Julian Motz. All Rights Reserved.
 *******************************************************/
--}}
<a href="/"><i class="glyphicon glyphicon-menu-left"></i>Back to home</a>
