{{!--
/*!*****************************************************
 * mark.js-website
 * https://github.com/julmot/mark.js/tree/website
 * Copyright (c) 2016, Julian Motz. All Rights Reserved.
 *******************************************************/
--}}

<button data-toggle="collapse" data-target="#{{id}}" class="btn btn-md btn-default">{{{triggerContent}}}</button>
<div id="{{id}}" class="collapse">
    {{{content}}}
</div>
